nav {
  h1 {
    padding-right: 100px;
  }
  background-color: $menus;
  display: flex;
  align-items: center;
  color: $accent;
  font-family: $title-font;

  .btn {
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: $accent;
    }
  }
     .active {
      @extend .btn;
      background-color: black;
      color: $accent
    }
  
  }
