nav {
  h1 {
    padding-right: 100px;
  }
  background-color: $menus;
  display: flex;
  align-items: center;
  color: $accent;
  font-family: $title-font;

  button {
    cursor: pointer;
    &:hover {
      background-color: $accent;
    }
  }
}